01-week/2_docker_sql/data/yellow_tripdata_2021-01.csv
01-week/2_docker_sql/data/yellow_tripdata_2021-01.csv.gz
01-week/2_docker_sql/data/yellow_tripdata_2024-01.parquet
01-week/2_docker_sql/ny_taxi_postgres_data
01-week/2_docker_sql/ny_taxi_postgres_data/base/13468/16385
01-week/2_docker_sql/output.csv.gz 

/Users/davidescandon/Documents/Repositorios/data-engineering-zoomcamp/01-week/2_docker_sql/data/yellow_tripdata_2021-01.csv
/Users/davidescandon/Documents/Repositorios/data-engineering-zoomcamp/01-week/2_docker_sql/data/yellow_tripdata_2021-01.csv.gz
/Users/davidescandon/Documents/Repositorios/data-engineering-zoomcamp/01-week/2_docker_sql/data/yellow_tripdata_2024-01.parquet
/Users/davidescandon/Documents/Repositorios/data-engineering-zoomcamp/01-week/2_docker_sql/ny_taxi_postgres_data
/Users/davidescandon/Documents/Repositorios/data-engineering-zoomcamp/ny_taxi_postgres_data
/Users/davidescandon/Documents/Repositorios/data-engineering-zoomcamp/01-week/2_docker_sql/output.csv.gz
/Users/davidescandon/Documents/Repositorios/data-engineering-zoomcamp/01-week/2_docker_sql/ny_taxi_postgres_data/base/13468/16385
/Users/davidescandon/Documents/Repositorios/data-engineering-zoomcamp/01-week/2_docker_sql/ny_taxi_postgres_data/base/16384/16392  
